<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Tate Gallery</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/artist/" >Artists</a>
</li>
        <li><a href="/artwork/" >Artworks</a></li> 
        			<li sec:authorize="hasRole('user')">
            <form th:action="@{/logout}" method="post" style="display: inline;">
            <input type="submit" value="Sign Out" style="background:rgba(0,0,0,0);border:none;color: #777;padding-top: 15px;
    padding-bottom: 15px;"/>
        </form>
</li>
<li sec:authorize="!hasRole('user')">
   <a href="/login" >Login</a>
</li>
      </ul>
    </div>
  </div>
</nav>



<div class="table-responsive">
<table class="table table-striped" >
    <tr>
  
        <th>id</th>
        <th >FullName</th>
        <th >Gender</th>
    </tr>
    <tr th:each="message : ${artist}">
    <td th:text="${message.id}">Text ...</td>
    <td ><a href="" th:href="@{'/artist/' + ${message.id}}" th:text="${message.FullName}"></a></td>
    <td th:text="${message.gender}">Text ...</td>
</tr>
</table>
</div>
</body>




</html>