<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Tate Gallery</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li ><a href="/artist/" >Artists</a>
</li>
        <li class="active"><a href="/artwork/" >Artworks</a></li> 
        			<li sec:authorize="hasRole('user')">
               <form th:action="@{/logout}" method="post" style="display: inline;">
            <input type="submit" value="Sign Out" style="background:rgba(0,0,0,0);border:none;color: #777;padding-top: 15px;
    padding-bottom: 15px;"/>
        </form>
</li>
<li sec:authorize="!hasRole('user')">
   <a href="/login" >Login</a>
</li> 
      </ul>
    </div>
  </div>
</nav>




<div class ="table-responsive">
<table class="table table-striped">
    <tr>
  
        <th>id</th>
        <th >Artwork Name</th>
        <th >Artist Name</th>
    </tr>
    <tr th:each="message : ${artwork}">
    <td th:text="${message.acno}">Text ...</td>
    <td ><a href="" th:href="@{'/artwork/' + ${message.acno}}" th:text="${message.title}"></a></td>
    <td th:text="${message.artistName}">Text ...</td>
</tr>
</table>
</div>

</body>




</html>