<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>


<style>@import url(http://fonts.googleapis.com/css?family=Varela+Round);
html,
body {
  background: #333 url("http://codepen.io/images/classy_fabric.png");
}

.slides {
  padding: 0;
  width: 609px;
  height: 420px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide {
  top: 0;
  opacity: 0;
  width: 609px;
  height: 420px;
  display: block;
  position: absolute;
  transform: scale(0);
  transition: all .7s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
}

.nav label {
  width: 200px;
  height: 100%;
  display: none;
  position: absolute;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  transition: opacity .2s;
  color: #FFF;
  font-size: 156pt;
  text-align: center;
  line-height: 380px;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, .3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label {
  opacity: 0.5;
}

.nav label:hover {
  opacity: 1;
}

.nav .next {
  right: 0;
}

input:checked + .slide-container .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label {
  display: block;
}

.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}

.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

input#1:checked ~ .nav-dots label#img-dot-1,
input#2:checked ~ .nav-dots label#img-dot-2,
input#3:checked ~ .nav-dots label#img-dot-3,
input#4:checked ~ .nav-dots label#img-dot-4,
input#5:checked ~ .nav-dots label#img-dot-5,
input#6:checked ~ .nav-dots label#img-dot-6 {
  background: rgba(0, 0, 0, 0.8);
}</style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Tate Gallery</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/artist/" >Artists</a>
</li>
        <li><a href="/artwork/" >Artworks</a></li> 
     
	
			<li sec:authorize="hasRole('user')">
               <form th:action="@{/logout}" method="post" style="display: inline;">
            <input type="submit" value="Sign Out" style="background:rgba(0,0,0,0);border:none;color: #777;padding-top: 15px;
    padding-bottom: 15px;"/>
        </form>
</li>
<li sec:authorize="!hasRole('user')">
   <a href="/login" >Login</a>
</li>
        
        
  
        
      </ul>
    </div>
  </div>
</nav>


<div sec:authorize="hasRole('user')">
<h1>Hello, <span sec:authentication="name">Guest</span></h1>      
</div>
<div sec:authorize="!hasRole('user')">
<h1>Hello, Guest</h1>
</div>

<h2>Welcome to the Tate Gallery</h2>





<ul class="slides">
  <span  th:each="message3, iterationStatus : ${detail.photos.photo}" >
  

 <input type="radio" name="radio-btn" th:id="${iterationStatus.count}" checked="checked"/>  

  
    <li class="slide-container">
		<div class="slide">
			      <img th:src=" ${message3.getUrl()}" />
        </div>
		<div class="nav">
			<label for="6" class="prev">&#x2039;</label>
			<label for="2" class="next">&#x203a;</label>
		</div>
    </li>
</span>
   

    <li class="nav-dots">
      <label for="1" class="nav-dot" id="img-dot-1"></label>
      <label for="2" class="nav-dot" id="img-dot-2"></label>
      <label for="3" class="nav-dot" id="img-dot-3"></label>
      <label for="4" class="nav-dot" id="img-dot-4"></label>
      <label for="5" class="nav-dot" id="img-dot-5"></label>
      <label for="6" class="nav-dot" id="img-dot-6"></label>
    </li>
</ul>
   


</body>
</html>